html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: auto;
}

.wrapper:after{
	width: 100%;
	height:100px;
	display:block;
	clear:both;
}

.footer, .push {
	height: 100px;
	margin: -100px auto 0;

	font-size: small;
	font-weight: bold;
	text-align: right;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }
.columnaAnidada {
	border-bottom:none !important;
	text-align: center !important;
}
.selectedOption {
	background-color: #eeeeee;
	border-radius: 4px;
}

@media print{
	.anchoFijoImpresion{
		max-width: 200px !important;
	}
	.altoFijoImpresion{
		max-height: 30px !important;
	}
}