<div class="container" ng-controller="loginCtrl">

	<div class="row">
		<div class="page-header">
			<h1>Iniciar sesión</h1>
		</div>
	</div>

	<div class="col-lg-offset-3 col-lg-6 well">
		<form class="form-horizontal center-block">
			<fieldset>
				<legend>Usuario</legend>
				<div class="row form-group col-lg-10">
					<label for="inputUser" class="control-label col-lg-offset-2"><span class="glyphicon glyphicon-user"></span> Usuario</label>
					<div>
						<input type="text" id="inputUser" class="form-control col-lg-offset-2 col-lg-8" placeholder="Ingrese usuario o mail">
					</div>
				</div>
				<div class="row form-group col-lg-10">
					<label for="inputPass" class="control-label col-lg-offset-2"><span class="glyphicon glyphicon-asterisk"></span> Contraseña</label>
					<div>
						<input type="password" id="inputPass" class="form-control col-lg-offset-2 col-lg-8" placeholder="Ingrese contraseña">
					</div>
				</div>
				<div class="row col-lg-12 text-center">
					<button class="btn btn-primary" ng-click="login()">Login</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>